.header {
    border-bottom: 1px solid #ECECEC;
}

.header__logo {
    color: var(--color-main);
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger-btn {
    @extend %align;
    background-color: transparent;
}

.header__burger-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header__burger-btn:hover &,
    .header__burger-btn:focus & {
        fill: var(--color-accent);
    }
}

@media screen and (max-width: 767px) {
    .header__nav {
        display: none;
    }

    .header__contacts {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__burger-btn {
        display: none;
    }

    .header__logo {
        margin-right: 88px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header__nav {
        margin-right: auto;
    }
}